.wrapper {
  display: flex;
  align-items: center;
  padding: calc(var(--mantine-spacing-xl) * 2);
  background-color: var(--color-gray100);
  grid-row: 1 /3;
}

.image {
  max-width: 40%;
}

.body {
  padding-right: calc(var(--mantine-spacing-xl) * 4);
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
  line-height: 1;
  margin-bottom: var(--mantine-spacing-md);
}

.controls {
  display: flex;
  margin-top: var(--mantine-spacing-xl);
}

.control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--color-purple500Main);
}

.control:hover {
  background-color: var(--color-purple600);
}

@media screen and (max-width: 1400px) {
  .wrapper {
    padding-left: 24px;
    padding-right: 24px;
    grid-row: 2/2;
  }
}

@media screen and (max-width: 1150px) {
  .body {
    padding-right: 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }

  .image {
    display: none;
  }
}
