.filmCard {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 12px;
  background: var(--color-white);
  padding: 24px;
  width: 100%;
  height: auto;
}

.filmCardContainer {
  display: flex;
  gap: 18px;
}

.filmCardDescr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filmCardPoster {
  object-fit: contain;
}

.filmCardTitle {
  color: var(--color-purple500Main);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

.filmCardReleaseDate,
.filmCardWriteUp {
  color: var(--color-gray600);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

.filmCardWriteUpFullInfo {
  display: grid;
  grid-template-columns: 0.85fr 1fr;
}

.filmCardRatingWrapper {
  display: flex;
  align-items: center;
}

.filmCardRatingStars,
.filmCardMyRatingStars {
  width: 28px;
  height: 28px;
  color: var(--color-yellow);
  margin-right: 4px;
}

.filmCardMyRatingStars {
  margin-right: 0;
  color: var(--color-gray300);
  cursor: pointer;
}

.filmCardPurpleStars {
  color: var(--color-purple500Main);
}

.filmCardRatingVoteAverage {
  color: var(--color-black);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  margin-right: 8px;
}

.filmCardRatingVoteCount {
  color: var(--color-gray600);
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
}

.filmCardWriteUp > span {
  color: var(--color-black);
}

.modalCloseButton {
  user-select: none;
  border: none;
}

.modalFilmTitle,
.modalTitle {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
}

.modalHeader {
  padding: 16px 11px 0 16px;
  border-bottom: 1px solid var(--color-gray200);
}

.modalBody {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.modalRating {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modalButton {
  border-radius: 8px;
  background: var(--color-purple500Main);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.modalButton:hover {
  background: var(--color-purple600);
}

.rating {
  margin-left: 9px;
}

.rateWrapper {
  display: flex;
}

.btnWrapper {
  display: flex;
}

@media screen and (max-width: 670px) {
  .filmCard {
    padding: 5px;
  }

  .rateWrapper {
    display: none;
  }

  .filmCardTitle,
  .filmCardRatingVoteCount,
  .filmCardRatingVoteAverage {
    font-size: 15px;
  }

  .filmCardReleaseDate,
  .filmCardWriteUp {
    font-size: 12px;
  }
}
