.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 41.5px 90px 0 90px;
}

.searchWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.headerTitle {
  color: var(--color-black);
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
}

.filterFormWrapper{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}
