.App {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2.2fr 9fr;
  background-color: var(--color-gray100);
}

.ratedPageWrapper {
  padding: 40px 90px 0 90px;
  background-color: var(--color-gray100);

}

.searchWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.filmsPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  padding: 40px 0 24px 0;
}

.ratedFilmsTitle {
  color: var(--color-black);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.notrateWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 1 / 3;
  gap: 16px;
}

.notrateTitle {
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.9px;
}

.notrateBtn {
  border-radius: 8px;
  background: var(--color-purple500Main);
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.notrateBtn:hover {
  background: var(--color-purple600);
}

@media screen and (max-width: 1400px) {
  .App {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1400px) {
  .ratedPageWrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 1150px) {
  .searchWrapper {
    flex-direction: column;
    align-items: center;
  }

  .ratedFilmsTitle {
    margin-bottom: 20px;
  }

  .filmsPage {
    grid-template-columns: 1fr;
  }
}
