:root {
  --color-white: #ffffff;
  --color-gray100: #f5f5f6;
  --color-gray200: #eaebed;
  --color-gray300: #d5d6dc;
  --color-gray500: #acadb9;
  --color-gray600: #7b7c88;
  --color-black: #000000;
  --color-purple600: #541f9d;
  --color-purple500Main: #9854f6;
  --color-purple400: #bd93f7;
  --color-purple300: #d1b4f8;
  --color-purple200: #e5d5fa;
  --color-purple100: #f2ebf9;
  --color-yellow: #fab005;
}