.App {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2.2fr 9fr;
  grid-template-rows: 3fr 9fr;
  background-color: var(--color-gray100);
}

@media screen and (max-width: 1400px) {
  .App {
    grid-template-columns: 1fr;
  }
}
