nav {
  margin-top: 80px;
}

nav > ul > li {
  display: flex;
  padding: 10px;
  margin-bottom: 16px;
  align-items: flex-start;
  gap: 10px;

  color: var(--color-black);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

nav > ul > li:last-child {
  margin-bottom: 0;
}

.active {
  color: var(--color-purple500Main);
  font-weight: 700;
  border-radius: 8px;
  background: var(--color-purple200);
}

.link {
  width: 100%;
}
